{% extends "base.html" %}
{% load static %}
{% block childpage %}


    <h1 class="my-4" style="text-align:center;"><b class="color1">Chitra</b>koot</h1>
    <hr class="w-25 m-auto">


<!--slider-->
<div class="container my-3">
    <div id="carouselExampleControls" class="carousel slide carousel-fade" data-bs-ride="carousel" >
  <div class="carousel-inner ">
    <div class="carousel-item active">
      <img src="{% static 'images/Chitrakoot/ganesh.jpg' %}" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="{% static 'images/Chitrakoot/Kamadgiri Temple.jpg' %}" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="{% static 'images/Chitrakoot/hanuman-dhara-temple.jpg' %}" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<!--slider-end-->

  <h1 class="h1 my-5">Chitrakoot, India</h1>
  <h6 class="text my-5">The north Indian city of Varanasi, or Benares, is regarded as sacred by Hindus, Buddhists and Jains. Situated in the fertile Ganga
    valley and on the banks of the Ganges, Varanasi is a place of pilgrimage for Hindus, who come to bathe in the holy river. Known as the City
    of Temples and a beacon of culture, Varanasi has produced many renowned writers. It’s also a centre of silk weaving,
    so practise haggling at the chaotic bazaar for some beautiful souvenirs. Rickshaws are the best way to get about.</h6>

<div class="row" style="margin-left:300px;">

    <h1 class="my-4"><i><b class="color1">Most Popular</b> Place in Chitrakoot</i></h1>
</div>
  <div class="row my-4">
    <div class="col-sm-7">
      <h3>Ram Ghat</h3>
        <p>Ram Ghat is a sacred riverside ghat located on the banks of the Yamuna River in Prayagraj, Uttar Pradesh. It is named after Lord Rama and is believed to be associated with his visit to the city during his exile. The ghat is a popular pilgrimage site, drawing devotees for religious rituals, ceremonial baths, and prayers, especially during festivals like Magh Mela and Kumbh Mela.

The serene environment of Ram Ghat, combined with the sight of devotees offering prayers at sunrise, creates a spiritual atmosphere. It features steps leading to the river, where visitors can enjoy boat rides or sit and meditate. The ghat is surrounded by temples and ashrams, enhancing its religious significance. Ram Ghat is also a hub for cultural and spiritual gatherings, reflecting the city's rich heritage. It offers a peaceful retreat for visitors seeking divine connection and tranquility.</p>

    </div>
    <div class="col-sm-5">
      <img src="{% static 'images/Chitrakoot/ram-ghat.jpg' %}"class="w-100"/>
    </div>
  </div>
   <div class="row my-4">
    <div class="col-sm-5">
      <img src="{% static 'images/Chitrakoot/Kamadgiri Temple.jpg' %}"class="w-100"/>

    </div>
    <div class="col-sm-7 ">
      <h3>Kamadgiri Temple</h3>
        <p>Kamadgiri Temple is a revered Hindu temple located in Chitrakoot, Uttar Pradesh, known for its deep spiritual significance and connection to Lord Rama. The temple is situated on the Kamadgiri Hill, which is believed to be the site where Lord Rama, Goddess Sita, and Lakshman spent part of their exile. The name "Kamadgiri" translates to "the fulfiller of wishes," and the temple is considered a place where devotees’ desires are granted.

The temple is surrounded by a scenic 5-kilometer parikrama (circumambulation) path that devotees walk as an act of penance and prayer. Lush greenery, sacred shrines, and chanting devotees create a serene and divine ambiance. The hill and its surroundings are dotted with smaller temples and holy spots. The best time to visit is during Ram Navami or other Hindu festivals when the area comes alive with cultural and religious fervor. Kamadgiri Temple is a must-visit for those seeking peace, devotion, and blessings.</p>

    </div>
  </div>
   <div class="row">
    <div class="col-sm-7">
      <h3>Sati Anusuya Temple</h3>
        <p>The Sati Anusuya Temple is a sacred site located near Chitrakoot in Uttar Pradesh, India, dedicated to Sati Anusuya, the epitome of devotion, chastity, and loyalty. According to Hindu mythology, Anusuya was the wife of Sage Atri and renowned for her unwavering piety. The temple is situated in a tranquil forested area along the Mandakini River, offering a serene atmosphere for worship and meditation.

It is believed that Sati Anusuya performed penance here, and her devotion led to the birth of Lord Dattatreya, an incarnation of Brahma, Vishnu, and Mahesh (Shiva). The temple complex features intricate carvings, statues of Anusuya, Atri, and their children, and picturesque surroundings that attract devotees and nature lovers alike.

During festivals like Navratri, the temple sees significant footfall as devotees gather to seek blessings. The nearby natural beauty, including waterfalls and dense forests, adds to its charm, making it a spiritual and scenic destination.</p>

    </div>
    <div class="col-sm-5">
      <img src="{% static 'images/Chitrakoot/Sati Anusuya Temple.jpg' %}"class="w-100"/>
    </div>
  </div>
   <div class="row my-4">
    <div class="col-sm-5">
       <img src="{% static 'images/Chitrakoot/hanuman-dhara-temple.jpg' %}"class="w-100"/>

    </div>
    <div class="col-sm-7">
       <h3>Hanuman Dhara Temple</h3>
        <p>Hanuman Dhara Temple is a revered shrine situated in Chitrakoot, Uttar Pradesh, dedicated to Lord Hanuman. Perched atop a hill, the temple is surrounded by lush greenery and offers a panoramic view of the serene surroundings. According to Hindu mythology, the temple marks the spot where Lord Hanuman rested after setting Lanka ablaze. To soothe his burning body, Lord Rama directed a stream of cool water, known as "Dhara," to flow over him, which continues to trickle inside the temple.

Visitors reach the temple by climbing a series of steps, enhancing the spiritual journey. The temple features a statue of Lord Hanuman under the natural water stream, symbolizing devotion and divine grace. It is a popular pilgrimage spot, especially during Hanuman Jayanti and other Hindu festivals. The tranquil environment and religious significance make Hanuman Dhara a must-visit for devotees and those seeking peace and blessings.</p>

    </div>
  </div>
   <div class="row">
    <div class="col-sm-7">
       <h3>Ganesh Bagh</h3>
        <p>Ganesh Bagh is a historical garden located in Prayagraj, Uttar Pradesh, known for its beautiful Mughal-style architecture and serene atmosphere. The garden is home to a notable temple dedicated to Lord Ganesha, making it a popular spot for both spiritual and leisure activities. It was originally built by the Nawabs of the region and reflects the traditional Mughal garden design with lush greenery, fountains, and pathways.

The central attraction is the Ganesh temple, which features a large idol of Lord Ganesha, attracting many devotees, especially during Ganesh Chaturthi. The garden also houses several tombs of important figures from the Mughal era, contributing to its historical significance. Ganesh Bagh is not just a place of worship but also an ideal spot for a peaceful retreat, offering a blend of culture, nature, and tranquility.</p>

    </div>
    <div class="col-sm-5">
      <img src="{% static 'images/Chitrakoot/ganesh.jpg' %}"class="w-100"/>
    </div>
  </div>
   <!--div class="row my-4">
    <div class="col-sm-5">
      <img src="{% static 'images/varansi/swarved.jpg' %}"class="w-100"/>

    </div>
    <div class="col-sm-7">
      <h3>SWARVED TEMPLE VARANASI</h3>

    </div-->
       <div class="row heading text-center">
    <div class="col-sm-4 mx-auto">
    <p class="fs-3">Find Us on  <b class="txt-color1"><u>Google map</u><i class="fa-solid fa-location-dot"></i></b></p>
        <i>You may find root on map</i>
        </div>
</div>


<div class="row gmap">
    <div class="col-sm-10 mx-auto">
       <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d462028.30867991387!2d80.79345116110288!3d25.216837920651034!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3984b0f2aa449b9f%3A0x493802c4af3a864e!2sChitrakoot%2C%20Uttar%20Pradesh!5e0!3m2!1sen!2sin!4v1733291706917!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

  </div>
</div>
{% endblock %}