{% extends "base.html" %}
{% load static %}
{% block childpage %}

    <h1 class="my-4" style="text-align:center;"><i><b class="color1">Eta</b>wah</i></h1>
    <hr class="w-25 m-auto">

<!--slider-->
<div class="container my-3">
    <div id="carouselExampleControls" class="carousel slide carousel-fade" data-bs-ride="carousel" >
  <div class="carousel-inner ">
    <div class="carousel-item active">
      <img src="{% static 'images/etawah/m_Etawah_2_.avif' %}" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="{% static 'images/etawah/m_Etawah_5.avif' %}" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="{% static 'images/etawah/m_Etawah_7.avif' %}" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<!--slider-end-->

  <h1 class="h1 my-5">Etawah, India</h1>
  <h6 class="text my-5">
In addition to its prominence as the setting of the 1857 Sepoy Mutiny, Etawah is well-known as a fascinating cultural centre in the Indian state of Uttar Pradesh. The inhabitants of Etawah, as well as their language, caste, religion, costume, art, music, dance, fairs, and festivals, are all integral to the city's cultural identity. Even though it's surrounded by rural regions that are still in the process of urbanising, the city of Etawah is becoming a major metropolitan hub in the district much more quickly than the surrounding villages.</h6>

<div class="row" style="margin-left:300px;">

    <h1 class="my-4"><i><b class="color1">Most Popular</b> Place in Etawah</i></h1>
</div>
  <div class="row my-4">
    <div class="col-sm-7">
      <h3>Kachora Ghat</h3>
        <p>**Kachora Ghat**, located in Etawah, Uttar Pradesh, is a serene and scenic spot on the banks of the Yamuna River. Known for its natural beauty and tranquil environment, it is a popular destination for both locals and tourists seeking peace and spiritual solace. The ghat is especially significant for its cultural and religious importance, as it is often used for rituals, prayer ceremonies, and festivals.

The picturesque surroundings of Kachora Ghat, with lush greenery and the calm flow of the Yamuna, make it a favorite spot for nature enthusiasts and photographers. Visitors can enjoy boat rides, which provide a peaceful experience and stunning views of the river. The ghat is also a gathering point during festivals like Kartik Purnima, when devotees flock to the river for holy dips.

Kachora Ghat is well-maintained and offers a clean environment for leisure activities, making it an ideal place for picnics and morning walks. Its historical and spiritual significance adds to the charm, drawing those interested in exploring the cultural heritage of Etawah. The ghat's serene ambiance makes it a hidden gem worth visiting.
        Kachora Ghat is not only a spiritual retreat but also a place of historical and cultural value. It is well-maintained and offers a clean environment, making it a family-friendly destination. The site’s charm is enhanced by its connection to local traditions and the serene vibes of the Yamuna.

With its blend of natural beauty, spiritual energy, and cultural richness, Kachora Ghat is a hidden gem in Etawah. It serves as a reminder of the harmonious relationship between nature and spirituality, making it a must-visit destination for travelers and locals alike.</p>

    </div>
    <div class="col-sm-5">
      <img src="{% static 'images/etawah/m_Etawah-3.webp' %}"class="w-100"/>
    </div>
  </div>
   <div class="row my-4">
    <div class="col-sm-5">
      <img src="{% static 'images/etawah/m_Etawah_5.avif' %}"class="w-100"/>

    </div>
    <div class="col-sm-7 ">
      <h3>Tixi Temple</h3>
        <p>Tixi Temple, located in Etawah, Uttar Pradesh, is an ancient and revered Hindu temple known for its religious significance and historical charm. Dedicated to Lord Shiva, the temple attracts devotees throughout the year, especially during the festival of Mahashivratri, when it becomes a hub of spiritual activity and celebrations.

The temple is situated on an elevated platform and offers a serene ambiance surrounded by natural beauty. Its architecture reflects traditional Indian styles, with intricate carvings and a grand sanctum housing a sacred Shiva Lingam. The temple complex also features smaller shrines dedicated to other deities, enhancing its spiritual atmosphere.

Tixi Temple is a popular destination for devotees seeking blessings, performing rituals, and meditating in a tranquil environment. The temple's location, away from the bustling city, makes it a peaceful retreat for visitors. It is also a center of local cultural and religious gatherings, showcasing the vibrant traditions of the region.</p>

    </div>
  </div>
   <div class="row">
    <div class="col-sm-7">
      <h3>Raja Sumer Singh Fort</h3>
        <p>The **Raja Sumer Singh Fort**, located in Etawah, Uttar Pradesh, is an ancient fort with immense historical and architectural significance. Built by Raja Sumer Singh, a notable ruler and warrior of the Bundela dynasty, the fort stands as a symbol of valor and heritage. Perched atop a hill, it offers panoramic views of the surrounding landscape, including the Yamuna River.

The fort is known for its robust construction, with massive stone walls and intricately designed gates reflecting the grandeur of medieval architecture. Inside, there are remnants of palaces, temples, and courtyards, showcasing the cultural richness of its era. It served as a strategic defense point and a royal residence during its prime.

Today, the fort is a popular tourist destination, drawing history enthusiasts and photographers interested in its legacy and scenic location. Although some parts are in ruins, the fort retains its majestic aura and continues to tell the story of a bygone era. Its serene surroundings and historical charm make it a must-visit site in Etawah.</p>

    </div>
    <div class="col-sm-5">
      <img src="{% static 'images/etawah/m_Etawah_7.avif' %}"class="w-100"/>
    </div>
  </div>
   <div class="row my-4">
    <div class="col-sm-5">
       <img src="{% static 'images/etawah/Etawah_company_9.webp' %}"class="w-100"/>

    </div>
    <div class="col-sm-7">
       <h3>Etawah Company Garden Et</h3>
        <p>**Etawah Company Garden**, also known as **Phillips Garden**, is a historic and scenic park located in Etawah, Uttar Pradesh. It was established during the British colonial era and remains one of the most popular recreational spots in the city. The garden is named after British officials who contributed to its development, reflecting its colonial heritage.

Spread over a vast area, the garden is adorned with lush greenery, colorful flower beds, and well-maintained lawns, offering a peaceful retreat for visitors. It features pathways for leisurely walks, benches for relaxation, and a variety of trees that provide shade and enhance the park's natural beauty.

The garden is a hub for community activities and is frequently visited by families, joggers, and nature enthusiasts. It also serves as a venue for local cultural and social events. The serene environment of the park makes it an ideal spot for picnics, photography, and unwinding from the city's hustle and bustle.

Etawah Company Garden holds historical significance as a reminder of the city's colonial past while providing a green escape for present-day residents and tourists. Its tranquil ambiance and well-preserved beauty make it a cherished landmark in Etawah.</p>

    </div>
  </div>
   <div class="row">
    <div class="col-sm-7">
       <h3>Etawah Safari Park</h3>
        <p>Etawah Safari Park, located in Etawah, Uttar Pradesh, is a unique and expansive wildlife safari park that offers a thrilling experience for nature and animal lovers. Spanning over 350 hectares, it is one of the largest safari parks in Asia and a significant tourist attraction in the region. Established to promote wildlife conservation and ecotourism, the park provides a natural habitat for a diverse range of species.

The park features dedicated safaris, including Lion Safari, Deer Safari, Bear Safari, and a Leopard Safari, allowing visitors to observe animals in their natural surroundings. It is home to various species of animals, including Asiatic lions, tigers, leopards, bears, and several herbivores, as well as a wide variety of birds, making it a paradise for wildlife enthusiasts.

Etawah Safari Park is equipped with modern amenities, including a visitor center, interpretation zones, and guided safari tours to educate visitors about wildlife and conservation. The park's lush greenery and scenic landscape enhance its appeal, making it a perfect destination for families, students, and nature lovers.</p>

    </div>
    <div class="col-sm-5">
      <img src="{% static 'images/etawah/safari_.avif' %}"class="w-100"/>
    </div>
  </div>
   <!--div class="row my-4">
    <div class="col-sm-5">
      <img src="{% static 'images/varansi/swarved.jpg' %}"class="w-100"/>

    </div>
    <div class="col-sm-7">
      <h3>SWARVED TEMPLE VARANASI</h3>

    </div-->

       <div class="row heading text-center">
    <div class="col-sm-4 mx-auto">
    <p class="fs-3">Find Us on  <b class="txt-color1"><u>Google map</u><i class="fa-solid fa-location-dot"></i></b></p>
        <i>You may find root on map</i>
        </div>
</div>


<div class="row gmap">
    <div class="col-sm-10 mx-auto">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d56986.36895653795!2d78.97633768957964!3d26.787486290487255!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3975dfd884cf6219%3A0x6aa136334cfc04c5!2sEtawah%2C%20Uttar%20Pradesh!5e0!3m2!1sen!2sin!4v1733291648445!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>
</div>


{% endblock %}