{% extends "base.html" %}
{% load static %}
{% block childpage %}

<!---start-->

<div class="container-fluid ">
    <div class="row heading text-center my-2">
    <div class="col-sm-5 mx-auto my-3">
        <h1 > <b class="color1">Popular </b>Faq's <i class="fa-solid fa-question"></i></h1>
         <hr class="w-50 m-auto">

    </div>
</div>
    <div class="row pb-3">

    <div class="col-sm-8 mx-auto">
        <!--start accordion-->
    <div class="accordion  " id="accordionExample">
      <!--first-->
  <div class="accordion-item  shadow-lg rounded ">
    <h2 class="accordion-header ">
      <button class="accordion-button collapsed rounded " type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
        <b>1.What is the best time to visit Uttar Pradesh?</b>
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse " data-bs-parent="#accordionExample">
      <div class="accordion-body text-secondary">
        <span>The best time to visit Uttar Pradesh is between October and March when the weather is cool and pleasant. Summers (April to June) can be hot, while winters (November to February) offer a more comfortable climate for sightseeing.</span>
      </div>
    </div>
  </div>
      <!--second-->

  <div class="accordion-item mt-3 shadow-lg rounded">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed rounded" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        <b>2. How can I reach Uttar Pradesh?</b>
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
      <div class="accordion-body text-secondary">
          <ul>
          <li><b>By Air:</b> Major airports in Uttar Pradesh are in Lucknow, Varanasi, and Agra.</li>
           <li><b>By Train: </b>Uttar Pradesh has a well-connected railway network, and cities like Agra, Lucknow, and Varanasi are major railway hubs.</li>
           <li><b>By Road: </b> The state is well connected via highways, and inter-state buses are available</li>

        </ul>

      </div>
    </div>
  </div>
      <!--Third-->

  <div class="accordion-item mt-3 shadow-lg rounded">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed rounded" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        <b>  3. What are the famous cultural experiences in Uttar Pradesh?</b>
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
      <div class="accordion-body text-secondary">

        <b>Famous Cultural Experiences in Uttar Pradesh</b><br>

<b>1. Spirituality:</b> Witness the Ganga Aarti in Varanasi and explore Ayodhya and Mathura-Vrindavan.<br>
<b>2. Festivals:</b> Celebrate Holi in Vrindavan, Diwali in Ayodhya, and the Kumbh Mela in Prayagraj.<br>
<b>3. Cuisine:</b> Savor Awadhi biryani, kebabs, and Banarasi paan.<br>
<b>4. Handicrafts:</b> Discover Banarasi silk sarees, Chikankari embroidery, and Zardozi work.<br>
<b>5. Music and Dance:</b> Enjoy Kathak dance and folk music traditions like Rasiya.<br>

      </div>
    </div>
  </div>
      <!--Fourth-->

        <div class="accordion-item mt-3 shadow-lg rounded">
    <h2 class="accordion-header ">
      <button class="accordion-button collapsed rounded" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
        <b> 4.What are the must-visit places in Uttar Pradesh?</b>
      </button>
    </h2>
    <div id="collapseFour" class="accordion-collapse collapse " data-bs-parent="#accordionExample">
      <div class="accordion-body text-secondary">
         <ul>
          <li><b>Agra:</b> The Taj Mahal, Agra Fort, Fatehpur Sikri</li>
           <li><b>Varanasi:</b> Kashi Vishwanath Temple, Ghats of Varanasi, Sarnath</li>
           <li><b>Lucknow:</b> Bara Imambara, Chota Imambara, Rumi Darwaza</li>
           <li><b>Mathura and Vrindavan:</b> Temples related to Lord Krishna</li>
           <li><b>Ayodhya:</b> Ram Janmabhoomi, Hanuman Garhi</li>
        </ul>
      </div>
    </div>
  </div>
      <!--Fifth-->

  <div class="accordion-item mt-3 shadow-lg rounded">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed rounded" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
        <b>5. What is the best way to plan a tour of Uttar Pradesh?</b>
      </button>
    </h2>
    <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
      <div class="accordion-body text-secondary">
    <span>Research and plan your trip in advance based on the cities and places you want to visit.
Hire a local guide for a more immersive experience, especially when visiting historical or religious sites.
Consider booking tours that cover multiple cities, as travel distances can be significant..</span>
      </div>
    </div>
  </div>
      <!--sixth-->

  <div class="accordion-item mt-3 shadow-lg rounded">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed rounded" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
        <b> 6. What are the top spiritual and religious sites in Uttar Pradesh?</b>
      </button>
    </h2>
    <div id="collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
      <div class="accordion-body text-secondary">
    <ul>
              <li><b>Kashi Vishwanath Temple (Varanasi): </b>Dedicated to Lord Shiva and one of the most sacred Hindu temples.<li/>
              <li><b>Sarnath (near Varanasi):</b> A Buddhist pilgrimage site where Buddha delivered his first sermon.</li>
              <li><b>Ram Janmabhoomi (Ayodhya):</b> Believed to be the birthplace of Lord Rama.</li>

      </ul>

      </div>
    </div>
  </div>
         <!--Seventh-->

  <div class="accordion-item mt-3 shadow-lg rounded">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed rounded" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
        <b>7.What should I do if I receive a damaged item?</b>
      </button>
    </h2>
    <div id="collapseSeven" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
      <div class="accordion-body text-secondary">
        <span>We’re sorry to hear that! Please contact our customer service team within 48 hours of receiving the item. We will guide you through the process of returning the damaged item and issuing a replacement or refund.</span>

      </div>
    </div>
  </div>
      <!--Eightth-->

        <div class="accordion-item mt-3 shadow-lg rounded">
    <h2 class="accordion-header ">
      <button class="accordion-button collapsed rounded" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="true" aria-controls="collapseEight">
        <b>8.Can I exchange an item?</b>
      </button>
    </h2>
    <div id="collapseEight" class="accordion-collapse collapse " data-bs-parent="#accordionExample">
      <div class="accordion-body text-secondary">
        <span>Yes, exchanges are allowed for the same item in a different size or color, subject to availability. Please initiate the exchange process by contacting our customer service team.</span>
      </div>
    </div>
  </div>
      <!--Ninth-->

  <div class="accordion-item mt-3 shadow-lg rounded">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed rounded" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
        <b>9.How do I create an account?</b>
      </button>
    </h2>
    <div id="collapseNine" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
      <div class="accordion-body text-secondary">
      <span>To create an account, click on the “Sign Up” or “Register” button on our homepage. Fill in the required information, and you’ll receive a confirmation email once your account is set up.</span>
      </div>
    </div>
  </div>
      <!--tenth-->

  <div class="accordion-item mt-3 shadow-lg rounded">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed rounded" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
        <b>10.What if I forget my password?</b>
      </button>
    </h2>
    <div id="collapseTen" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
      <div class="accordion-body text-secondary">
    <span>If you forget your password, click on the “Forgot Password?” link on the login page. Follow the instructions to reset your password via email.</span>
      </div>
    </div>
  </div>
   <!--end cordion-->
</div>

    </div>
    </div>
</div>




<!--end-->



{% endblock %}