{% extends "base.html" %}
{% load static %}
{% block childpage %}

     <h1 class="my-4" style="text-align:center;"><i><b class="color1">Kan</b>pur</i></h1>
    <hr class="w-25 m-auto">


<!--slider-->
<div class="container my-3">
    <div id="carouselExampleControls" class="carousel slide carousel-fade" data-bs-ride="carousel" >
  <div class="carousel-inner ">
    <div class="carousel-item active">
      <img src="{% static 'images/kanpur/Kanpur_Memorial_Church.jpg' %}" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="{% static 'images/kanpur/JK-Temple.jpg' %}" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="{% static 'images/kanpur/NANA RAO PARK.webp' %}" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<!--slider-end-->

  <h1 class="h1 my-5">Kanpur, India</h1>
  <h6 class="text my-5">Kanpur, located in Uttar Pradesh, India, is one of the largest and most industrially significant cities in the state. Situated on the banks of the Ganges River, it is often referred to as the "Manchester of the East" due to its historical prominence in the textile and leather industries. Established as an important trade center during the British colonial period, Kanpur has grown into a hub for commerce, education, and culture.

The city is home to prestigious institutions such as the Indian Institute of Technology Kanpur (IIT-K), a leading center for technological education and research. Kanpur boasts several historical and religious landmarks, including Nana Rao Park, Allen Forest Zoo, and JK Temple, attracting locals and tourists alike. The city's vibrant culture is reflected in its festivals, street food, and traditional bazaars.

Kanpur's leather products are internationally recognized, contributing significantly to its economy. While it is a bustling metropolis, Kanpur faces challenges such as pollution and urban development pressures. Despite this, it continues to hold its place as a key city in Uttar Pradesh, balancing its industrial significance with its cultural and historical heritage..</h6>

<div class="row" style="margin-left:300px;">

    <h1 class="my-4"><i><b class="color1">Most Popular</b> Place in Kanpur</i></h1>
</div>
  <div class="row my-4">
    <div class="col-sm-7">
      <h3>KANPUR ZOOLOGICAL PARK</h3>
        <p>Kanpur Zoological Park, also known as the Kanpur Zoo, is a popular wildlife sanctuary located in Kanpur, Uttar Pradesh. Established in 1974, it covers an area of approximately 76.56 hectares and is one of the main attractions for wildlife enthusiasts and families. The zoo is home to a variety of animal species, including tigers, lions, leopards, bears, elephants, and several species of birds and reptiles. The park aims to educate the public about wildlife conservation and offers a natural environment for the animals.

The zoo is divided into different sections, with each area designed to replicate the animals' natural habitats. It also has a dedicated section for endangered species, playing a significant role in their protection. The zoo houses a well-maintained botanical garden that adds to the overall beauty of the park. Visitors can enjoy leisurely walks, explore the animal enclosures, and learn about wildlife through informative displays.

One of the key attractions is the Safari Zone, where visitors can take a guided tour and observe animals in a more open environment. The zoo is also involved in various conservation and breeding programs to help protect endangered species. Additionally, there are playgrounds for children, making it a family-friendly destination. Kanpur Zoological Park is easily accessible and provides an excellent educational and recreational experience. With its lush greenery and diverse wildlife, it remains a favorite spot for locals and tourists alike..</p>

    </div>
    <div class="col-sm-5">
      <img src="{% static 'images/kanpur/park.webp' %}"class="w-100"/>
    </div>
  </div>
   <div class="row my-4">
    <div class="col-sm-5">
      <img src="{% static 'images/kanpur/NANA RAO PARK.webp' %}"class="w-100"/>

    </div>
    <div class="col-sm-7 ">
      <h3>NANA RAO PARK</h3>
        <p>Nana Rao Park is a historic public park located in Kanpur, Uttar Pradesh. It is named after Nana Sahib, the prominent leader of the 1857 Indian Rebellion, who played a significant role in the uprising. The park is a popular destination for locals and tourists due to its serene environment and lush greenery. It features wide walking paths, beautiful gardens, and shaded areas, making it an ideal spot for relaxation and outdoor activities.

The park is historically significant, as it was the site of the tragic events of 1857, when British troops killed numerous freedom fighters, including many Indian soldiers. Today, the park hosts a memorial dedicated to those who lost their lives during the uprising. Nana Rao Park is also home to various species of trees and birds, adding to its natural beauty.

The park is well-maintained and offers various facilities such as benches, fountains, and a children's play area. It is an excellent location for morning walks, picnics, and casual outings. The park holds a special place in the hearts of Kanpur residents, offering a peaceful escape from the hustle and bustle of city life.</p>

    </div>
  </div>
   <div class="row">
    <div class="col-sm-7">
      <h3>JK TEMPLE IN KANPUR </h3>
        <p>JK Temple, also known as Juggilal Kamlapat Temple, is a stunning architectural and spiritual landmark located in Kanpur, Uttar Pradesh. Built in 1960 by the JK Trust, the temple is a blend of traditional Indian and modern architectural styles. Dedicated to Lord Radha-Krishna, the temple also houses idols of other deities, including Lord Laxminarayan, Lord Hanuman, Lord Ardhanarishwar, and Lord Narmadeshwar.

The temple is renowned for its magnificent design, with high marble spires, intricately carved pillars, and a serene ambiance that attracts devotees and tourists alike. The interiors are spacious and well-lit, allowing natural sunlight to illuminate the shrine, enhancing its divine atmosphere. The surrounding lush green gardens add to the tranquility of the site, making it an ideal place for meditation and relaxation.

The temple is especially vibrant during festivals like Janmashtami, attracting large crowds for spiritual celebrations. Its peaceful environment and architectural grandeur make JK Temple a must-visit destination for anyone in Kanpur.</p>

    </div>
    <div class="col-sm-5">
      <img src="{% static 'images/kanpur/JK-Temple.jpg' %}"class="w-100"/>
    </div>
  </div>
   <div class="row my-4">
    <div class="col-sm-5">
       <img src="{% static 'images/kanpur/Kanpur_Memorial_Church.jpg' %}"class="w-100"/>

    </div>
    <div class="col-sm-7">
       <h3>Kanpur Memorial Church</h3>
        <p>The **Kanpur Memorial Church**, also known as **All Souls' Memorial Church**, is a historic landmark located in Kanpur, Uttar Pradesh. Built in 1875, it commemorates the British soldiers and civilians who lost their lives during the events of the 1857 Indian Rebellion, specifically the Siege of Cawnpore (now Kanpur). The church was designed by **Walter Granville**, a prominent British architect known for his work in colonial India.

Constructed in the Gothic Revival style, the church is made of red brick with stunning polychrome dressings. The interior features beautifully stained-glass windows and intricate carvings. The east side of the church houses a memorial garden, which contains a sculpted figure of an angel, designed by famous sculptor **Baron Carlo Marochetti**.

The church remains a symbol of Kanpur's colonial history and attracts visitors for its architectural beauty and historical significance. While it is a reminder of a turbulent time in history, today it serves as a tranquil spot for reflection and a popular tourist destination in the city.</p>

    </div>
  </div>
   <div class="row">
    <div class="col-sm-7">
       <h3>KANPUR </h3>
        <p>The city is home to prestigious institutions such as the Indian Institute of Technology Kanpur (IIT-K), a leading center for technological education and research. Kanpur boasts several historical and religious landmarks, including Nana Rao Park, Allen Forest Zoo, and JK Temple, attracting locals and tourists alike. The city's vibrant culture is reflected in its festivals, street food, and traditional bazaars.

Kanpur's leather products are internationally recognized, contributing significantly to its economy. While it is a bustling metropolis, Kanpur faces challenges such as pollution and urban development pressures. Despite this, it continues to hold its place as a key city in Uttar Pradesh, balancing its industrial significance with its cultural and historical heritage.</p>

    </div>
    <div class="col-sm-5">
      <img src="{% static 'images/kanpur/kanpur-.webp' %}"class="w-100"/>
    </div>
  </div>
   <!--div class="row my-4">
    <div class="col-sm-5">
      <img src="{% static 'images/varansi/swarved.jpg' %}"class="w-100"/>

    </div>
    <div class="col-sm-7">
      <h3>SWARVED TEMPLE VARANASI</h3>

    </div-->

       <div class="row heading text-center">
    <div class="col-sm-4 mx-auto">
    <p class="fs-3">Find Us on  <b class="txt-color1"><u>Google map</u><i class="fa-solid fa-location-dot"></i></b></p>
        <i>You may find root on map</i>
        </div>
</div>


<div class="row gmap">
    <div class="col-sm-10 mx-auto">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d228625.17128582392!2d80.17356721419914!3d26.44707917259983!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x399c4770b127c46f%3A0x1778302a9fbe7b41!2sKanpur%2C%20Uttar%20Pradesh!5e0!3m2!1sen!2sin!4v1733291614177!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>
</div>

{% endblock %}