{% extends "base.html" %}
{% load static %}
{% block childpage %}


<h1 class="my-4" style="text-align:center;"><i><b class="color1">Jaun</b>pur</i></h1>
    <hr class="w-25 m-auto">


<!--slider-->
<div class="container my-3">
    <div id="carouselExampleControls" class="carousel slide carousel-fade" data-bs-ride="carousel" >
  <div class="carousel-inner ">
    <div class="carousel-item active">
      <img src="{% static 'images/jaunpur/shahi kila.webp' %}" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="{% static 'images/jaunpur/sahi pul.jpeg' %}" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="{% static 'images/jaunpur/trilochan-maha-.jpg' %}" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<!--slider-end-->

  <h1 class="h1 my-5">Jaunpr,Up in India</h1>
  <h6 class="text my-5">Jaunpur is a city in southeastern Uttar Pradesh, India, situated approximately 55 kilometers northwest of Varanasi along the Gomati River.

 Founded in the 14th century by Feroz Shah Tughlaq, it was named in honor of his cousin, Muhammad bin Tughlaq, whose given name was Jauna Khan.
  The city served as the capital of the independent Sharqi Sultanate from 1394 to 1479, a period during which it became a significant center of Islamic culture and learning. Architectural landmarks from this era include the Atala Masjid and the Jama Masjid, both exemplifying the Sharqi style of architecture.
  Jaunpur is also renowned for the Shahi Bridge, an impressive structure built during the reign of the Mughal Emperor Akbar in the 16th century.

As of the 2011 census, Jaunpur district had a population of approximately 4.5 million people, with a literacy rate of 73.66%.
  Today, Jaunpur is known for its historical significance and cultural heritage, attracting visitors interested in exploring its medieval architecture and rich history.</h6>

<div class="row" style="margin-left:300px;">

    <h1 class="my-4"><i><b class="color1">Most Popular</b> Place in Jaunpur</i></h1>
</div>


    <div class="row my-4">
    <div class="col-sm-7">
      <h3>Shahi Qila Jaunpur</h3>
        <p>Shahi Qila, also known as Jaunpur Fort or Karar Fort, is a 14th-century fortification located in Jaunpur, Uttar Pradesh, India, near the Shahi Bridge on the Gomti River.
JAUNPUR DISTRICT
 Constructed in 1362 A.D. by Sultan Firoz Shah Tughlaq, the fort was built using materials from the palaces and temples of the Rathore kings of Kannauj.
JAUNPURONLINE.IN

The fort's architecture features an irregular quadrangle enclosed by stone walls, with the main entrance facing east. The inner gate stands at 26.5 feet high and 16 feet wide, while the central gate reaches 36 feet in height, topped by a massive dome.
JAUNPUR DISTRICT
 Within the complex, notable structures include a mosque and a Turkish-style hammam (bathhouse). The mosque, built in 1376 by Barbak Shah, brother of Firoz Shah, is considered one of the oldest buildings in Jaunpur.
WIKIPEDIA

Over the centuries, Shahi Qila underwent several renovations, notably during the Mughal era under Emperor Akbar's reign. Today, the fort is a significant tourist attraction, offering insights into medieval architecture and the region's history.   </p>
    </div>
    <div class="col-sm-5">
      <img src="{% static 'images/jaunpur/shahi kila.webp' %}"class="w-100"/>
    </div>
  </div>

   <div class="row my-4">
    <div class="col-sm-5">
      <img src="{% static 'images/jaunpur/sahi pul.jpeg' %}"class="w-100"/>

    </div>
    <div class="col-sm-7 ">
      <h3>Shahi pul</h3>
        <p>The Shahi pul or Shahi Bridge, also known as the Akbari Bridge or Munim Khan's Bridge, is a significant 16th-century structure spanning the Gomti River in Jaunpur, Uttar Pradesh, India. Commissioned by Mughal Emperor Akbar, the bridge was constructed between 1564 and 1567 under the supervision of Munim Khan, the governor of Jaunpur, and designed by Afghan architect Afzal Ali.
WIKIPEDIA

The bridge features 15 arches supported by robust piers, with 10 spans to the north and 5 to the south. Its total width is 26 feet, including 2-foot-3-inch-wide pathways on both sides.
JAUNPUR DISTRICT

In 1934, the bridge sustained significant damage during the Nepal–Bihar earthquake, leading to the reconstruction of seven of its arches. Despite this, the Shahi Bridge remains operational and is recognized as Jaunpur's most significant Mughal structure.
 </p>
    </div>
  </div>
   <div class="row">
    <div class="col-sm-7">
      <h3>Khalis Mukhlis Masjid </h3>
        <p>The Khalis Mukhlis Masjid, also known as the Char Ungli Masjid (Four Fingers Mosque), is a historic mosque located in Jaunpur, Uttar Pradesh, India. It was constructed around 1430 AD by Malik Khalis and Malik Mukhlis, the governors of Jaunpur during the reign of Sultan Ibrahim Sharqi, one of the rulers of the Sharqi Dynasty. This dynasty played a key role in shaping Jaunpur into a significant cultural and architectural hub.
            The mosque's construction occurred during the Sharqi Dynasty (1394–1479), when Jaunpur flourished as an epicenter of Islamic culture, art, and education. The Sharqi sultans were patrons of learning and architecture, and they commissioned several mosques, bridges, and palaces throughout the region. The Khalis Mukhlis Masjid reflects the dynasty's emphasis on architectural grandeur and spiritual devotion.
            Although smaller than other Sharqi-era mosques like the Jama Masjid or Atala Masjid, the Khalis Mukhlis Masjid remains significant for its historical and architectural value. It stands as a testament to the city's rich cultural heritage and draws visitors who are interested in history and architecture.

Today, the mosque is an important landmark in Jaunpur, serving both as a place of worship and a site of historical importance. Its serene and spiritual atmosphere attracts not just worshippers but also tourists and historians.
</p>

    </div>
    <div class="col-sm-5">
      <img src="{% static 'images/jaunpur/Khalis Mukhlis.jpg' %}"class="w-100"/>
    </div>
  </div>
   <div class="row my-4">
    <div class="col-sm-5">
       <img src="{% static 'images/jaunpur/trilochan-maha-.jpg' %}"class="w-100"/>

    </div>
    <div class="col-sm-7">
       <h3>Trilochan Mahadev</h3>
        <p>The Trilochan Mahadev Temple is a renowned Hindu pilgrimage site dedicated to Lord Shiva, situated near Jaunpur, Uttar Pradesh, India. The temple holds immense spiritual significance for devotees, attracting thousands of visitors annually, especially during specific festivals and holy months.

Location and Accessibility
The Trilochan Mahadev Temple is located in Rehti village, approximately:

40 kilometers from the city of Jaunpur,
36 kilometers from Varanasi,
16 kilometers from Babatpur Airport (near Varanasi).
Its proximity to Varanasi, the spiritual capital of India, adds to its prominence as a place of worship.

Historical and Religious Significance
The temple is dedicated to Lord Shiva, one of the principal deities in Hinduism, revered as the destroyer and transformer in the Holy Trinity of Brahma, Vishnu, and Shiva. According to local legends, the temple is one of the oldest in the region and has been a site of devotion for centuries.

The name Trilochan Mahadev is derived from the Sanskrit words "Tri" (three) and "Lochan" (eyes), symbolizing Lord Shiva as the Three-Eyed God who sees beyond the physical realm. The temple is considered especially auspicious for those seeking spiritual growth, redemption, and blessings.
Cultural and Spiritual Importance
The Trilochan Mahadev Temple is not just a religious site but also a center of cultural heritage. It reflects the enduring legacy of faith and devotion in the region. The temple’s peaceful environment and scenic surroundings make it a spiritual haven for those seeking solace.
</p>
    </div>
  </div>
   <div class="row">
    <div class="col-sm-7">
       <h3>Yamdagni Ashram</h3>
        <p>Yamdagni Ashram is a significant place in Hindu mythology, closely associated with the sage Yamdagni, one of the seven great sages (Saptarishi) in ancient texts. He was a prominent Vedic sage, and his ashram is often mentioned in the context of his wisdom and his role in the preservation of knowledge.

The ashram is believed to have been located in the forested regions of ancient India, where many sages and ascetics lived and practiced meditation, philosophy, and spiritual teachings. Yamdagni Ashram specifically is associated with the story of the sage's family, including his wife, Renuka, and their son, Parashurama (an incarnation of Lord Vishnu)
            One of the most well-known myths related to Yamdagni Ashram involves the incident where Parashurama, in a fit of anger, kills his mother Renuka at his father’s command. This story is part of the larger narrative of Parashurama's devotion to his father, as well as the themes of duty and righteousness in Hindu mythology..</p>

    </div>
    <div class="col-sm-5">
      <img src="{% static 'images/jaunpur/Yamdagni_Ashram.avif' %}"class="w-100"/>
    </div>
  </div>



       <div class="row heading text-center">
    <div class="col-sm-4 mx-auto">
    <p class="fs-3">Find Us on  <b class="txt-color1"><u>Google map</u><i class="fa-solid fa-location-dot"></i></b></p>
        <i>You may find root on map</i>
        </div>
</div>


<div class="row gmap">
    <div class="col-sm-10 mx-auto">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d28750.255188352792!2d82.6598814117223!3d25.744725201191134!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39903a2c93994715%3A0xf9a9f10dc97322!2sJaunpur%2C%20Uttar%20Pradesh!5e0!3m2!1sen!2sin!4v1737729141649!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>
</div>


{% endblock %}