{% extends "base.html" %}
{% load static %}
{% block childpage %}


     <h1 class="my-4" style="text-align:center;"><i><b class="color1">Praya</b>graj</i></h1>
    <hr class="w-25 m-auto">


<!--slider-->
<div class="container my-3">
    <div id="carouselExampleControls" class="carousel slide carousel-fade" data-bs-ride="carousel" >
  <div class="carousel-inner ">
    <div class="carousel-item active">
      <img src="{% static 'images/Prayagraj/khusro.avif' %}" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="{% static 'images/Prayagraj/Allahabad Fort.avif' %}" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="{% static 'images/Prayagraj/Swaraj Bhavan.avif' %}" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<!--slider-end-->

  <h1 class="h1 my-5">Prayagraj, India</h1>
  <h6 class="text my-5">Prayagraj, formerly Allahabad, is a historic city in Uttar Pradesh, India. It is renowned for the Triveni
      Sangam, where the Ganga, Yamuna, and mythical Saraswati rivers meet, making it a major Hindu pilgrimage site. The city has a
      rich history, mentioned in ancient scriptures, and was founded as Ilahabad by Mughal Emperor Akbar in 1583. It played a key role
      in India's independence movement and is home to landmarks like the Allahabad Fort, Anand Bhavan, and All Saints Cathedral.
      Prayagraj hosts the Kumbh Mela, the largest religious gathering in the world. It also has the University of Allahabad, one of India's
      oldest educational institutions. The city features colonial-era architecture and modern developments like the New Yamuna Bridge. Prayagraj
      combines cultural significance with urban growth,
      though it faces challenges like air pollution. It remains a vital spiritual, historical, and academic hub in India..</h6>

<div class="row" style="margin-left:300px;">

    <h1 class="my-4"><i><b class="color1">Most Popular</b> Place in Prayagraj</i></h1>
</div>
  <div class="row my-4">
    <div class="col-sm-7">
      <h3>Chandrashekhar Azad Park</h3>
        <p>Chandrashekhar Azad Park, formerly known as Alfred Park, is the largest public park in Prayagraj, Uttar Pradesh. It spans 133 acres and holds immense historical significance as the site where freedom fighter Chandrashekhar Azad fought his last battle against British forces in 1931, ultimately sacrificing his life. The park features a grand statue of Azad to honor his legacy. Established during the British era in 1870, it was originally named after Prince Alfred, Duke of Edinburgh. The park also houses the Allahabad Museum, showcasing historical artifacts and art. With lush greenery, walking trails, and open spaces, it serves as a popular recreational spot. Its colonial-era bandstand adds architectural charm. The park is a symbol of India’s freedom struggle and is cherished by locals and tourists alike. It remains a tranquil retreat amidst the bustling city.</p>

    </div>
    <div class="col-sm-5">
      <img src="{% static 'images/Prayagraj/park-1.jpg' %}"class="w-100"/>
    </div>
  </div>
   <div class="row my-4">
    <div class="col-sm-5">
      <img src="{% static 'images/Prayagraj/pra-2.avif' %}"class="w-100"/>

    </div>
    <div class="col-sm-7 ">
      <h3>Triveni Sangam</h3>
        <p>The meeting point or the confluence of three of the most important rivers in the Hindu religion, Triveni Sangam, is a holy place located in Allahabad. It is one of the most popular and sacred places to visit in Allahabad, and is often a host to some of the most important fairs and festivals of the religion.

The rivers Ganga, Yamuna and Sarawati meet at the Sangam. Due to the popularity of the region, the entire city of Allahabad is also sometimes referred to as Sangam. Every 12 years, an incredibly auspicious festival called the Kumbh Mela is organized at this location, while every six years, the Ardh Kumbh is hosted here.

Both of these festivals see a massive influx of tourists and locals to the Sangam. Hindus take a dip at the place where the rivers meet, believing that touching the holy water washes away the sins of all births. The Sangam can be easily identified by the varying colors of the Ganges and the Yamuna river, the latter of which has slightly greenish water.</p>

    </div>
  </div>
   <div class="row">
    <div class="col-sm-7">
      <h3>Khusro Bagh</h3>
        <P>Khusro Bagh is a historic walled garden in Prayagraj, Uttar Pradesh, spanning over 40 acres. It is renowned for its Mughal-era architecture and houses three stunning mausoleums. The tombs belong to Prince Khusrau, the rebellious son of Emperor Jahangir; his mother, Shah Begum; and his sister, Sultan Nithar Begum. Built in the early 17th century, the tombs feature intricate sandstone carvings, exquisite floral motifs, and Quranic inscriptions, showcasing Mughal artistry.

The garden is lush with greenery, dotted with fountains and pathways, offering a serene ambiance. Khusro Bagh is historically significant as a site of political intrigue during the Mughal period and later, during the Indian Rebellion of 1857. It is a favorite among history enthusiasts, architecture lovers, and those seeking a peaceful retreat.</P>

    </div>
    <div class="col-sm-5">
      <img src="{% static 'images/Prayagraj/khusro.avif' %}"class="w-100"/>
    </div>
  </div>
   <div class="row my-4">
    <div class="col-sm-5">
       <img src="{% static 'images/Prayagraj/anand.avif' %}"class="w-100"/>

    </div>
    <div class="col-sm-7">
       <h3>Anand Bhavan</h3>
        <p>In the 1930s, the original Swaraj Bhavan, today a famous Allahabad tourist place, was transformed into the headquarters of the Indian National Congress. As a result, Motilal Nehru had to buy another mansion for himself and his family to reside, and it was called Anand Bhavan.

Today, it is a historic house museum also home to the Jawahar Planetarium. European furniture and the most delicate quality china was sourced by Motilal Nehru to decorate this mansion and make it a replica of the original Swaraj Bhavan. Renovation of the enormous estate is said to have been done for over ten years.

Just like Swaraj Bhavan, this place also hosts many artifacts original to the Indian freedom struggle and meetings of the Negru family with many prominent freedom leaders. In 1970, the mansion was donated to the Government of India by Jawaharlal Nehru’s daughter Indira Gandhi. Since then, the government has been responsible for its maintenance.

Location: 246/199 Colonelganj Infront of Anand Bhawan, Uttar Pradesh 211002
</p>

    </div>
  </div>
   <div class="row">
    <div class="col-sm-7">
       <h3>Allahabad Fort</h3>
        <p>Built-in 1583, this stunning piece of architecture stands at the Triveni Sangam in Allahabad to remind tourists of the city’s rich history. Akbar, a famous Mughal Emperor, is said to have been much impressed by the aura of Allahabad. As a result, he decided to construct a grand fort in the region. This fort was erected to envelop the Akshayavat, a holy tree for the Hindus of the area.

The Archaeological Survey of India has classified the Allahabad fort as a monument of National Importance and maintains its interiors for tourists. The exteriors reflect the brilliance of Mughal architecture with significant motifs and inscriptions in some parts of the fort. As a tourist, do not forget to enjoy the grandeur of the fort while in Allahabad, since it is one of the best places to visit in prayagraj.

Location: Allahabad fort, Prayagraj, Uttar Pradesh 211005</p>

    </div>
    <div class="col-sm-5">
      <img src="{% static 'images/Prayagraj/Allahabad Fort.avif' %}"class="w-100"/>
    </div>
  </div>
   <div class="row my-4">
    <div class="col-sm-5">
      <img src="{% static 'images/Prayagraj/Swaraj Bhavan.avif' %}"class="w-100"/>

    </div>
    <div class="col-sm-7">
      <h3>Swaraj Bhavan</h3>
        <p>Swaraj Bhavan is a large mansion that was once owned by Motilal Nehru and was the place of residence for the Nehru family until 1930. Today, it functions as a grandiose museum and is the most historically revered place to visit in Allahabad.

It is managed by the Jawaharlal Nehru Fund, New Delhi. Photographs of the Indian freedom movement featuring leaders like Mahatma Gandhi, Azad, and the Nehrus are all displayed in the museum. Moreover, the Charkha owned by Mr. Gandhi is also displayed here.

As a tourist, you can enjoy the exhibits in its 42 different rooms or just relax in the massive green sprawls. There is also an underground room that was used for meetings by the Indian freedom struggle leaders back when the British oppression prevented them from conducting rallies and meetings in public. While here, do not forget to pay tribute to the freedom fighters commemorated here.

Location: Swaraj Bhawan Rd, Tagore Town, Prayagraj, Uttar Pradesh 211002</p>

    </div>
  </div>

       <div class="row heading text-center">
    <div class="col-sm-4 mx-auto">
    <p class="fs-3">Find Us on  <b class="txt-color1"><u>Google map</u><i class="fa-solid fa-location-dot"></i></b></p>
        <i>You may find root on map</i>
        </div>
</div>


<div class="row gmap">
    <div class="col-sm-10 mx-auto">
       <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d230661.0448518926!2d81.63676882162775!3d25.40217189278029!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x398534c9b20bd49f%3A0xa2237856ad4041a!2sPrayagraj%2C%20Uttar%20Pradesh!5e0!3m2!1sen!2sin!4v1733291441038!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>
</div>

{% endblock %}